/** attention,  la taille  des boites  va  inclure  padding  et  border **/
* { margin:0; padding:0; border:0; box-sizing: border-box; }


body {
	color:white;
	background-color:black;
	/*overflow-X:hidden;*/
}
:fullscreen body { overflow-X: hidden; }
body.noscrollY { overflow-Y: hidden; }

/** la taille de chaque section est ajustee a la dimension verticale de l'ecran **/
/** Donc il faut utiliser des unites  "vh"  plutot que  "px" **/
section {
	height:100vh;
	width:calc(100vh*16/9); /* ratio 16:9 */
	position:relative; /* pour permettre les  positions  absolute */
	overflow:  hidden; /* pas  de debordement  dans une section! */

	font-size:20vh; /*  en vh pour s'ajuster a la taille...  100vh=hauteur  de la  diapo */
}
/* juste  pour  voir les sections clairement */
section:nth-child(odd)  { background-color: orange;  }
section:nth-child(even) { background-color: pink;  }

/*** panneau-identification ***/
#panneau-identification{
    color: white;
    background-color: rgb(33, 129, 232);
}

#panneau-identification h1{
    position:absolute;
    font-size:20vh;
    top: 10vh;
    right:10vh;
}
#panneau-identification h2{
    position:absolute;
    font-size:12.5vh;
    top: 35vh;
    right:10vh;
}
#panneau-identification h3{
    position: relative;
    text-align: right;
    font-size:8vh;
    top: 50vh;
    padding-bottom: 2vh;
    right:10vh;
}

/*** panneau-udem ***/
#panneau-udem {
    background-color: rgb(0, 0, 55);
}

#panneau-udem #left-half {
    background: url(img/phone.jpeg);
    background-repeat: no-repeat;
    background-position: 35% 40%;
    width: 50%;
    position: absolute;
    left: 0px;
    height: 100%;
}

#panneau-udem #right-half {
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
}

#panneau-udem h1 {
    position: absolute;
    top:5vh;
    right:10vh;
    width: 75vh;
    padding-top: 5vh;
    text-align:right;
    line-height:1.0;
    font-size:8vh;
}

#panneau-udem h2 {
    position: absolute;
    top:35vh;
    right:10vh;
    width: 100vh;
    text-align:right;
    line-height:2.0;
    font-size:6vh;
    color: orange;
}

#panneau-udem img {
    height: 40%;
}

#panneau-udem h3 {
    position: absolute;
    bottom: 30vh;
    right:55vh;
    font-size:4vh;
    text-align:right;
    width: 150vh;
}

.tdLogo {
    position: absolute;
    bottom: 10vh;
    right:10vh;
    width: 40%;
}

.phone {
    position:absolute;
    height: 100%;
    bottom: 15vh;
    left:5vh;
}

/*** panneau-cercles ***/

/* #panneau-cercles p {
	font-size:10vh;
}
#panneau-cercles .mini  {
	font-family:sans-serif;
	font-weight:bold;
	font-size:10vh;
} */

/* pour placer un element en  dessous  des  autres  elements */
/* .devant { position:relative;z-index:10;  }
.couvre { width:100%;height:100%; }
.hautgauche { position:absolute;left:0;top:0;  }
.basdroite { position:absolute;right:0;bottom:0; } */



/********************************/
/***                          ***/
/*** les boutons de  controle ***/
/***                          ***/
/********************************/

#boutons  {
	position:fixed;
	margin:20px;
	right:0px;
	bottom:0px;
	display:flex;
	flex-direction: column;
	gap:10px;
	z-index:1000; /* en avant de tout le reste */
}
#boutons button {
	padding:5px;
	color:black;
	opacity:0.4;
	background-color:white;
	border-radius:10px;
	font-family: 'Font Awesome\ 5 Free';
	font-weight: 900;
	font-size: 64px;
}
            #goAS:before { content: "\e4bb"; } /* fa-arrows-spin */
            #goUp:before { content: "\f102"; } /* fa-angles-up */
            #goFS:before { content: "\f31e"; } /* fa-maximize */
:fullscreen #goFS:before { content: "\f78c"; } /* fa-minimize */
            #goDn:before { content: "\f103"; } /* fa-angles-down */

@keyframes rotating {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.rotating { animation: rotating 20s linear infinite; }

